header {
	text-align:centre;
	background-color: #000000;
	background-size:100%;
	padding:50px;
}
h1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 300%;
	text-transform: uppercase;
	Font-family: "Felix Titling";
}

nav a{
	display:inline;
		
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;

	text-decoration: none;

	color: #000000;
	text-align:center;
	font-size: 150%;
	vertical-align: middle;
	background-color: #dddddd;
	width:15%;
	height: 30px;
	padding:0 1% 0 1%;
	position: relative;
	float: left;
	Margin: 0 8.5%;
}
.active {
	background-color: #0000FF;
	color: #FFFFFF;
}

.left1 {
	display: block;
	background-color: rgba(0,0,0,0.75);
	width: 45%;
	float:left;
	padding: 1% 0;
}

.right1 h2 {
	text-align: center;
	color: #000000;
	font-size: 150%;
	text-transform:uppercase;
	font-family: garamond "Times New Roman" "Myriad Pro";
}

.right1 {
	width:50%;
	display: inline;
	padding-left: 2%;
	vertical-align: middle;
}

.left1 img {
	border-radius:50%;
	width: 90%;
	margin: 5%;
	
}

h2 {
	text-align: center;
	color: #000000;
	font-size: 175%;
	text-transform:uppercase;
	font-family: garamond "Times New Roman" "Myriad Pro";
}

h4{
	text-align: center;
	font-size: 120%;
	Margin: -20px 0 0 0;
}

.footer a:visited {
	color:#0000FF;
}

.right1 p{
			font-size: 120%;
			Margin: 50px 0 10px 0;
			text-align: justify;
			vertical-align: middle;
}

.right1 ul{
			font-size: 120%;
}

.right h3{
	text-align:center;
	font-variant: small-caps;
	font-size: 150%;
}

.right ul{
	text-align: justify;
	Margin: 0 0 10px 0;
}

.right a{
	text-decoration:none;
}

.right a:visited{
	color:#0000FF;
}

.footer table {
  font-family: sans-serif;
  width: 75%;
  margin: 0px auto;
  color: #fff;
  text-align: left;
}

.footer tr:first-child{
	text-align: center;
}

.footer td, th {
  padding: 15px;
}
.footer tr > th {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }
 
 
.footer tr{
  opacity: 0.7;
}


.footer tr > td {
  color: #000000;
  font-weight: 600;
  border-radius: 2px;
}


.footer tr > td, .footer tr > th{
  text-align: center;
}

.footer h2{
	color: #ffffff;
}

.footer p{
	text-align: center;
}

footer {
	display: block;
	color: #ffffff;
	background-color: #000000;
	background-size:100%;
	padding:10px;
	clear: both;
}
.right table {
  font-family: sans-serif;
  width: 75%;
  margin: 10px auto;
  color: #fff;
  text-align: left;
}

.right tr:first-child{
	text-align: center;
}
.right p{
	font-size: 110%;
}

/* Style buttons */
.btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  float: right;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


.right td, th {
  padding: 15px;
}


.right tr > th {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 37%, rgba(117,137,12,1) 68%, rgba(117,137,12,1) 100%);
  background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 37%, rgba(117,137,12,1) 68%, rgba(117,137,12,1) 100%);
}

.skills {
	text-align: center;
}

.right tr{
  opacity: 1;
}


.right tr > td {
  background-color: #e4f5d3;
  color: #000000;
  font-weight: 600;
  border-radius: 2px;
}


.right tr > td, .right tr > th{
  text-align: center;
}

.skill-percentage {
    background-color: #ffffff;
    height: 20px;
}

.skills p{
	font-size: 125%;
	font-variant: small-caps;
	font-family: garamond "Times New Roman" "Myriad Pro";
}

.skills p{
	margin: 1.5% 0 0 0;
}
/*- Screen Sizes*/
/*import fonts*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
/*media queries*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  margin: 3.125em auto;
  padding: 1em 5em 1em;
  max-width: 1000px;
}

/* - &:nth-child(1) {
			 grid-area: entry1;
		 }
   - useful timesaver if there is a lengthy list
*/
.timeline {
  line-height: 1.5em;
  font-size: 120%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: relative;
  counter-reset: section;
}
.timeline:before {
  content: "";
  width: 10px;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
  background-color: #eeeeee;
}
.timeline--entry__title {
  color: white;
  background-color: #000000;
  font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 1em;
}
.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1em;
  border-right: 10px solid #000000;
}
.timeline--entry__detail {
  background-color: #dddddd;
  padding: 1%;
  margin: 0;
}
.timeline--entry:before {
  content: "";
  font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
  color: #ffffff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 3em;
  height: 3em;
  background-color: #000000;
  border: .2em solid white;
  border-radius: 50%;
  position: absolute;
  counter-increment: section;
  content: counter(section);
  text-shadow: 0 1px 0 #424242;
  left: -4.5em;
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 4.75em;
      grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
    }
    .timeline:before {
      left: 49.5%;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }
    .timeline--entry:nth-child(3) {
      grid-area: entry3;
    }
    .timeline--entry:nth-child(4) {
      grid-area: entry4;
    }
    .timeline--entry:nth-child(5) {
      grid-area: entry5;
    }
    .timeline--entry:nth-of-type(odd):before {
      left: -3.8em;
    }
    .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
      left: 100%;
      border-left: 10px solid #000000;
      border-right: 0;
    }
    .timeline--entry:nth-of-type(even):before {
      left: 103%;
    }
  }
}

.follow table {
  font-family: sans-serif;
  width: 75%;
  margin: 0px auto;
  color: #fff;
  text-align: left;
}

.follow tr:first-child{
	text-align: center;
}

.follow td, th {
  padding: 15px;
}
.follow tr > th {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }
 
 
.follow tr{
  opacity: 0.7;
}


.follow tr > td {
  color: #000000;
  font-weight: 600;
  border-radius: 2px;
}


.follow tr > td, .follow tr > th{
  text-align: center;
}

.follow h2{
	color: #ffffff;
}

.follow p{
	text-align: center;
}

.follow a:visited {
	color:#0000FF;
}

follow {
	display: block;
	color: #ffffff;
	background-color: #000000;
	background-size:100%;
	padding:10px;
	clear: both;
}
.follow {
	display: block;
	background-color: rgba(0,0,0,0.75);
	width: 45%;
	float:left;
	padding: 1% 0;
}
.left2 {
	color: #ffffff;
	text-align: center;
	display: block;
	background-color: rgba(0,0,0,0.25);
	width: 49.5%;
	float:left;
	padding: 0 2.5% 2.5%;
	border-radius: 10%;
	border: solid #FFFFFF 2px;
}
.right2 {
	color: #ffffff;
	text-align: center;
	display: block;
	background-color: rgba(0,0,0,0.25);
	width: 49.5%;
	float:right;
	padding: 0 2.5% 2.5%;
	border-radius: 10%;
	border: solid #FFFFFF 2px;
}

